#Diciplina Inteligência Artificial
##Professora: Ana Tonão

###DATA: 06/03/2023

In [4]:
#Aprendendo Jupter
#Variaveis
idade = 29
print(idade)

altura = 1.50
print(altura)

print(type(idade))
print(type(altura))

29
1.5
<class 'int'>
<class 'float'>

In [6]:
#Operações Aritméticas
x=1
y=2
z=3

#adição
print(x+y)
#subtração
print(z-y)
#Multiplicação
print(y*z)
#Divisão
print(z/y)

3
1
6
1.5

In [15]:
#Estruturas de dados

#Listas
bilheteria = [320,420,100,200,300,400, 500, 600]
print(bilheteria)
print(type(bilheteria))

dias_da_semana = ['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom']
print(dias_da_semana)

#Acesso aos dados de uma lista
print(bilheteria[0]) #Acessa o primeiro elemento
print(bilheteria[-1]) #Acessa o ultimo elemento
print(bilheteria[0:5]) #Acessa os elementos de 0 a 5 (exclusive)
print(bilheteria[:5]) #Acessa os elementos de 0 a 5 (exclusive), usando omissão de indice

#Operações Aritméticas
media_bilheteria = (bilheteria[1]+bilheteria[2])/2
print(media_bilheteria)

[320, 420, 100, 200, 300, 400, 500, 600]
<class 'list'>
['Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab', 'Dom']
320
600
[320, 420, 100, 200, 300]
[320, 420, 100, 200, 300]
260.0

In [16]:
#copiar uma lista
lista_copia = bilheteria.copy()
lista_copia[0] = 340

print(lista_copia)
print(bilheteria)

[340, 420, 100, 200, 300, 400, 500, 600]
[320, 420, 100, 200, 300, 400, 500, 600]

In [30]:
#MÉTODOS PARA LISTAS
lista = [1,3,2,4]
print(lista)

#Append
lista.append(10)
print(lista)

#extend
lista.extend([12,12,12,12])
print(lista)

#count
print(lista.count(12))

#index
print(lista.index(12))

#insert
lista.insert(2,5)
print(lista)

#pop
lista.pop(2)
print(lista)

#remove
lista.remove(12)
print(lista)

#sort
lista.sort()
print(lista)

#reverse
lista.reverse()
print(lista)

#clear
lista.clear()
print(lista)

[1, 3, 2, 4]
[1, 3, 2, 4, 10]
[1, 3, 2, 4, 10, 12, 12, 12, 12]
4
5
[1, 3, 5, 2, 4, 10, 12, 12, 12, 12]
[1, 3, 2, 4, 10, 12, 12, 12, 12]
[1, 3, 2, 4, 10, 12, 12, 12]
[1, 2, 3, 4, 10, 12, 12, 12]
[12, 12, 12, 10, 4, 3, 2, 1]
[]